.profile-body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.profile-card {
    background-color: #3e3e3e8c;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    justify-items: center;
    width: 95%;
    border-radius: 100px;
    padding: 25px 10px;
    overflow: hidden;
}
.profile-image {
  display: flex;
  height: 50%;
  align-self: center;
}

.profile-info {
    display: flex;
    border-radius: 100px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    background-color: #8df0e1b7;
    height: 80%;
    width: 50%;
    margin: 30px;
    padding: 30px 60px;
    overflow: hidden;
    flex-grow: 1;
}

.profile-name {
    display: flex;
    font-family: 'Tilt Neon';
    font-size: 50px;
    text-transform: capitalize;
    margin: 10px 0;
}

.profile-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    gap: 1em;
}

.profile-type {
    padding: 10px 20px;
    font-size: larger;
    font-family: 'Tilt Neon';
}

.stat-name {
    width: 60%;
    display: flex;
    font-size: 25px;
    font-family: 'Tilt Neon';
    text-transform: capitalize;
}

.bar{
    width: 100%;
    background-color: #ddddddfe;
    height: 20px;
    margin-bottom: 15px;
    border-radius: 20px;
    overflow: hidden;
}

.bar-fill {
    background-color: #ff5959;
    height: 20px;
}

.measurement {
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    font-family: 'Tilt Neon';
    margin: 10px 20px 10px 0;
}

.ability {
    display: flex;
    font-size: 25px;
    font-family: 'Tilt Neon';
    text-transform: capitalize;
    padding: 0 15px;
}
